#root {
  border-radius: 5px;
  border-color: black;
  /* margin: 0 auto; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Children with position absolute are positioned relative to root */
}

.button-primary {
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  vertical-align: middle;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
.button-primary:hover {
  background-color: var(--primary-color2);
  color: white;
}

.button-action {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
.button-action:hover {
  background-color: var(--primary-color2);
  color: white;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--text-color);
  margin: 20px 0;
  border-radius: 1px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  /* height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 700;
  color: black;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
