

header {
    background-color: lightgreen; 
    padding: 10px 20px; 
    width: 100%; 
  }

  
  nav ul {
    list-style-type: none; 
    display: flex; /* horizontal nav bar*/
    
  }
  
  nav ul li {
    margin: 0 15px; /* space out the list */
  }
  

  