header {
  position: sticky;
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0 15px 0;
  width: 100%;
  height: 40px;
  top: 0;
  z-index: 1000;
  /* border-style: none none solid none;
  border-color: var(--header-border); */
  background-color: var(--primary-color);
  /* background-color: lightgreen; 
    padding: 10px 20px; 
    width: 100%;  */
}

nav ul {
  list-style-type: none;
  display: flex; /* horizontal nav bar*/
}

nav ul li {
  margin: 0 15px; /* space out the list */
}
